<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.karol.k.seasoner"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SeasoningListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SeasoningDetailActivity"
            android:label="@string/title_seasoning_detail"
            android:parentActivityName=".SeasoningListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.karol.k.seasoner.SeasoningListActivity" />
        </activity>
    </application>

</manifest>
